/* list item related */
.a-list {
  --cell-width: 1.6rem;
  --line-height: 1.6rem;

  position: relative;
  line-height: var(--line-height);

  /* left padding except the root list */
  .a-list {
    padding-left: var(--cell-width);

    /* display left border except the root list */
    &:before {
      content: " ";
      position: absolute;
      top: 0;
      bottom: 0;
      left: calc(var(--cell-width) * 2);
      width: 1px;
      background-color: #eee;
    }
  }

  .list-item {
    margin: 2px 0;

    &.selected > .list-item-row {
      background: rgba(0, 0, 0, 0.1);
    }
  }

  .list-item-row {
    display: flex;

    position: relative;
    align-items: stretch;
    line-height: var(--base-line-height);

    .full {
      flex: 1;
    }
  }

  .list-item-cell {
    width: var(--cell-width);
    height: var(--line-height);
    position: relative;

    display: inline-grid;
    place-content: center;
  }

  .list-item-cell .focus-marker {
    position: absolute;
    top: 0;
    width: 100%;
    height: 100%;
  }

  .list-item-marker {
    display: inline-block;
    width: var(--cell-width);
    height: var(--line-height);
    line-height: 1.6;
    text-align: center;
    margin: 0;
  }
}
